@page
@model MyApp.Namespace.MacierzeModel
@{
}
<h1 class="border-bottom border-5"> Macierze </h1>
<form method="post" asp-page-handler="WybierzRozmiar">
    <select asp-for="Rozmiar" class="btn border border-dark dropdown-toggle">
    <option class="dropdown-item" value="1">Wybierz rozmiar macierzy</option>
    <option class="dropdown-item" value="2">2x2</option>
    <option class="dropdown-item" value="3">3x3</option>
    <option class="dropdown-item" value="4">4x4</option>
    <option class="dropdown-item" value="5">5x5</option>
    </select><br><br>
    <button class="btn btn-outline-primary text-black border-dark" type="submit"> Potwierdź</button><br><br>
</form>
<form asp-page-handler="Oblicz" method="post">
@for (int i = 0; i < @Model.Rozmiar; i++)
{
        @for (int j = 0; j < Model.Rozmiar; j++)
        {
            <input class="form-label" style="width: 8%;" name="Macierz1" type="number"  class="border border-dark"/>
        }
        <br><br>
}
<br><br>
@for (int i = 0; i < @Model.Rozmiar; i++)
{
        @for (int j = 0; j < Model.Rozmiar; j++)
        {
            <input class="form-label" style="width: 8%;" name="Macierz2" type="number"  class="border border-dark"/>
        }
        <br><br>
}
    <br><br><button class="btn btn-outline-primary text-black border-dark" type="submit">Oblicz</button>
</form>
<span style="white-space: pre-line">
    <div class="container text-center">
        <div class="row row-cols-2">
                <div class="col">
                    <h3 class="border-bottom border-5">Macierz A</h3>
                    <p class="fs-3">  @ViewData["macierzA"] </p>
                </div>
                <div class="col">
                    <h3 class="border-bottom border-5">Macierz B</h3>
                    <p class="fs-3">  @ViewData["macierzB"] </p>
                </div>
        </div>
        <div class="row row-cols-3">
            <div class="col">
                <h3 class="border-bottom border-5">Dodawanie</h3>
                <p class="fs-3">  @ViewData["dodawanieMacierzy"]</p>
            </div>
            <div class="col">
                <h3 class="border-bottom border-5">Odejmowanie</h3>
                <p class="fs-3">  @ViewData["odejmowanieMacierzy"]</p>
            </div>
            <div class="col">
                <h3 class="border-bottom border-5">Mnożenie</h3>
                <p class="fs-3"> @ViewData["mnozenieMacierzy"]</p>
            </div>
    </div>
    </div>
</span>
